* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 兰亭黑;
}
a {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
}
.answer-content {
  padding: 20px;
}
.answer-title {
  font-size:18px;
}
.radio {
  width: 20px;
  height: 20px;
  top: 5px;
  position: relative;
}
.answer-list {
  margin-top: 10px;
  margin-bottom: 10px;
}
.p-a {
  margin-top: 10px;
}
.footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  width: 120px;
  height: 40px;
  background: #428BCA;
  ext-decoration: none;
  text-align: center;
  border: 1px solid #428BCA;
  color: white;
  font-size: 14px;
  border-radius: 4px;
}
.ti-box {
  text-align: center;
  padding-top: 10px;
  display: none;
}
.ti-body {
  font-size: 16px;
}
.fen {
  color: red;
  font-size: 18px;
}
.ti-body p {
  margin-top: 20px;
}
.again {
  margin-top:20px;
}
