* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 兰亭黑;
}
a {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 0.4375rem;
}
.answer-content {
  padding: 0.3125rem;
}
.answer-title {
  font-size: 0.4375rem;
}
.radio {
  width: 0.5625rem;
  height: 0.5625rem;
  top: 0.125rem;
  position: relative;
}
.answer-list {
  margin-top: 0.78125rem;
  margin-bottom: 0.78125rem;
}
.p-a {
  margin-top: 0.234375rem;
}
.footer {
  text-align: center;
  margin-top: 0.78125rem;
  margin-bottom: 0.78125rem;
}
.btn {
  width: 2.8125rem;
  height: 1.015625rem;
  background: #428BCA;
  ext-decoration: none;
  text-align: center;
  border: 1px solid #428BCA;
  color: white;
  font-size: 0.4375rem;
  border-radius: 4px;
}
.ti-box {
  text-align: center;
  padding-top: 0.78125rem;
  display: none;
}
.ti-body {
  font-size: 0.4375rem;
}
.fen {
  color: red;
  font-size: 0.75rem;
}
.ti-body p {
  margin-top: 0.78125rem;
}
.again {
  margin-top: 0.78125rem;
}
